
FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_URL=

APP_FAVICON_URL=
APP_LOGO_TI_URL=
APP_LOGO_POLITALA_URL=
APP_BG_LOGIN_URL=
